# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# generated native folders
/ios/
/android/

# native credentials
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# logs and local files
*.log
.DS_Store
.env*.local
working-preview.png
